body {
  background: url("../image/v2/bg.jpg") no-repeat;
  background-size: 100%;
  overflow: hidden;
}
.head {
  font-size: 0.28rem;
  font-family: KaushanScript-Regular;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 10%;
  line-height: 0.5rem;
  text-align: center;
  text-shadow: 0 1px #d9d9d9, 0 2px #ccc, 0 3px #bfbfbf, 0 4px #b3b3b3, 0 5px #a6a6a6, 0 5px 10px #000;
}
.middle {
  width: 84%;
  height: 40%;
  font-size: 0;
  box-sizing: border-box;
  margin: 1% 8% 2% 8%;
}
.middle .left {
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  height: 2rem;
  background-image: url("../image/v2/bg1.png");
  -webkit-background-size: 100%;
  background-size: 3rem 2rem;
  background-repeat: no-repeat;
}
.middle .left .compare-item {
  margin-left: 0.26rem;
}
.middle .left .left-item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  height: 60%;
  margin-top: 12%;
  position: relative;
}
.middle .left .left-item img {
  width: 0.6rem;
  height: 0.8rem;
  margin-left: 0.15rem;
}
.middle .left .right-item {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 6% 0 6% 9%;
}
.middle .left .visit-item {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 8% 0 8% 9%;
}
.middle .left .text {
  font-size: 0.12rem;
  width: 100%;
  height: 0.24rem;
  line-height: 0.24rem;
  color: #fff;
}
.middle .center {
  display: inline-block;
  vertical-align: top;
  width: 27%;
  height: 100%;
  background-image: url("../image/v2/vs.png");
  background-position: center;
  background-size: 0.8rem 1.2rem;
  background-repeat: no-repeat;
}
.middle .right {
  display: inline-block;
  vertical-align: top;
  width: 3rem;
  height: 2rem;
  background-image: url("../image/v2/bg2.png");
  -webkit-background-size: 100%;
  background-size: 3rem 2rem;
  background-repeat: no-repeat;
}
.middle .right .compare-item {
  margin-left: 0.22rem;
}
.middle .right .right-item {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 60%;
  margin-top: 10%;
}
.middle .right .right-item img {
  width: 0.8rem;
  height: auto;
  margin: auto;
}
.middle .right .left-item {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 4%;
}
.middle .right .text {
  font-size: 0.16rem;
  width: 100%;
  height: 100%;
  line-height: 1.2rem;
  color: #fff;
}
.middle .compare-item {
  width: 2.5rem;
  height: 1.4rem;
  box-sizing: border-box;
  padding: 0.02rem 0.04rem;
  margin-top: 0.3rem;
}
.info {
  width: 100%;
  height: 10%;
  background-image: url("../image/v2/bg3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.9rem 1.58rem;
}
.info .percent {
  width: 100%;
  height: 0.3rem;
  text-align: center;
  font-size: 0.2rem;
  color: #fff;
}
.info .percent span {
  text-shadow: 0 0 0.1em, 0 0 0.3em;
}
.info .text {
  width: 100%;
  height: 0.3rem;
  text-align: center;
  font-size: 0.18rem;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#0d6f9c));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom {
  width: 100%;
  height: 1.4rem;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5%;
}
.bottom .nav {
  position: relative;
  height: 1rem;
  font-size: 0;
}
.bottom .animation {
  animation: slide-left 0.4s linear;
  -webkit-animation: slide-left 0.4s linear;
}
.bottom .item {
  width: 1.65rem;
  height: 1rem;
  display: inline-block;
  position: relative;
  margin: 0 0.42rem;
}
.bottom .item .left-item {
  width: 1.4rem;
  height: 1rem;
  background: #0d6f9c;
  border: 2px solid #018fd7;
  border-radius: 0.02rem;
}
.bottom .item .left-item .text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.12rem 0.28rem 0.12rem 0.08rem;
}
.bottom .item .left-item .text-item {
  width: 100%;
  height: 0.2rem;
  font-size: 0.1rem;
  color: #fff;
}
.bottom .item .right-item {
  width: 0.5rem;
  height: 0.9rem;
  position: absolute;
  background: #c3c3c3;
  right: 0;
  top: 0.05rem;
  border-radius: 0.02rem;
}
.bottom .item .right-item img {
  width: 0.5rem;
  margin: 0.1rem 0;
  height: 0.7rem;
}
.contain {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
}
.effect {
  position: relative;
  top: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  animation: faded 4s ease-in-out;
  -webkit-animation: faded 4s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.bg-hua {
  background: url("../image/omament/hu.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-seed {
  top: 12%;
  background: url("../image/omament/s.png") no-repeat;
  background-size: auto 60%;
  background-position: bottom;
}
.bg-money {
  background: url("../image/omament/money.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-bubble {
  background: url("../image/omament/bubble.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-candy {
  background: url("../image/omament/candy.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-cheer {
  background: url("../image/omament/cheer1.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-fireworks {
  background: url("../image/omament/fireworks1.png"), url("../image/omament/firework2.png"), url("../image/omament/firework3.png"), url("../image/omament/fireworks4.png");
  background-size: 26%, auto 70%, auto 50%, auto 70%;
  background-position: 0px 50%, 100% 0px, 25% 100%, 50% 10%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.bg-fireworks1 {
  background: url("../image/omament/fireworks1.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: repeat;
}
.bg-we {
  position: absolute;
  z-index: 12;
  width: 60%;
  height: 20%;
  top: 50%;
  background: url("../image/omament/we.png");
  background-size: 60% auto;
  background-position: left;
  background-repeat: no-repeat;
  animation: slide-right 4s linear;
  -webkit-animation: slide-right 4s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.bg-glim {
  background: url("../image/omament/glim.png");
  background-size: auto 50%;
  background-position: center;
}
.bg-gold {
  background: url("../image/omament/gold.png");
  background-size: auto 90%;
  background-position: center;
}
.bg-good {
  background: url("../image/omament/good.png");
  background-size: auto 43%;
  background-position: 70%;
}
.bg-great {
  background: url("../image/omament/great.png") no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.bg-green {
  background: url("../image/omament/green.png");
  background-size: auto 40%;
  background-position: center;
}
.bg-king {
  background: url("../image/omament/king.png") no-repeat;
  background-size: 80% auto;
  background-position: center;
}
.bg-light {
  background: url("../image/omament/light.png") no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.bg-myKing {
  background: url("../image/omament/myKing.png") no-repeat;
  background-size: 40% auto;
  background-position: center;
}
.bg-red-leaf {
  background: url("../image/omament/redLeaf.png");
  background-size: auto 100%;
  background-position: center;
}
.bg-redp {
  background: url("../image/omament/redp.png");
  background-size: 40% auto;
  background-position: center;
}
.bg-snow {
  background: url("../image/omament/snow.png");
  background-size: 100% auto;
  background-position: center;
}
.bg-flow {
  background: url("../image/omament/flow.png");
  background-size: 30% auto;
  background-position: center;
}
.bg-fly {
  background: url("../image/omament/fly.png");
  background-size: 100% auto;
  background-position: center;
}
@-moz-keyframes slide-right {
  from {
    left: 0;
  }
  to {
    transform: translateX(140%);
  }
}
@-webkit-keyframes slide-right {
  from {
    left: 0;
  }
  to {
    transform: translateX(140%);
  }
}
@-o-keyframes slide-right {
  from {
    left: 0;
  }
  to {
    transform: translateX(140%);
  }
}
@keyframes slide-right {
  from {
    left: 0;
  }
  to {
    transform: translateX(140%);
  }
}
@-moz-keyframes faded {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes faded {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes faded {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes faded {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes slide-left {
  from {
    left: 0px;
  }
  to {
    transform: translateX(-2.5rem);
  }
}
@-webkit-keyframes slide-left {
  from {
    left: 0px;
  }
  to {
    transform: translateX(-2.5rem);
  }
}
@-o-keyframes slide-left {
  from {
    left: 0px;
  }
  to {
    transform: translateX(-2.5rem);
  }
}
@keyframes slide-left {
  from {
    left: 0px;
  }
  to {
    transform: translateX(-2.5rem);
  }
}
@-moz-keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  30% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  30% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
@-o-keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  30% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: rotate(360deg);
  }
  30% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(1080deg);
  }
}
