
@font-face {
    font-family: KaushanScript-Regular;
    src: url('../font/KaushanScript-Regular.ttf');
}


@font-face {
    font-family: Pattaya-Regular;
    src: url('../font/Pattaya-Regular.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Hiragino;
    src: url('../font/Hiragino.otf');
}